* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-color: #0558DC; */
    --main-color: #2b84d7;
}


body {
    background-color: #f6f6f6;
    color: #333333;
    font-family: 'LXGWWenKaiLite', serif;
}

code {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 15px 8px;
    border: 1px solid #5c88a442;
    border-radius: 3px;
    overflow: auto;
}

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: rgb(36, 39, 41);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(173, 179, 185);
    border-radius: 3px;
    box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
    white-space: nowrap;
    vertical-align: middle;
    /*kbd的样式真sb的多*/
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 1px dashed #d1d1d1;
    margin: 20px 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

th,
td {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #dfe2e5;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #dfe2e5;
}


blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
    margin: 20px 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

p {
    margin: 20px 0;
    font-size: 20px;
    line-height: 150%;
}

ul {
    margin: 20px 0;
}

ol,
ul {
    padding: 0 0 0 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5ab;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 0 15vw;
    font-size: 20px;
}

.bar {
    width: 20px;
    height: 2.2px;
    background-color: var(--main-color);
    margin: 5px 0;
    display: block;
}

.link-group {
    display: flex;
}

.link-group a {
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    color: var(--main-color);
}

.link-group a:hover {
    color: #ee86b4;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.acrylic {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e5e5e5;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #F7F7F7CC;
    overflow-y: auto;
    background-image: url('noise.png');
    background-repeat: repeat;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.mica {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e1e6ea;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #f7f9fcdb;
    overflow-y: auto;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.no-shadow {
    box-shadow: none;
}

.mica-dark {
    color: white;
    background-color: #232734db;
    border-color: #2d2d2d1a;
}

.mica-dark a {
    color: white;
}

.no-border {
    border-radius: 0;
}

.title {
    font-size: 26px;
    text-align: center;
    margin: 150px 0 20px 0;
}

.char-counter {
    text-align: end;
    font-size: 15px;
    margin: 20px 0 40px 0;
    color: #666666;
}

.tag {
    text-align: center;
    font-size: 18px;
    color: var(--main-color);
    margin: 20px 0 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.content {
    margin: 0 15vw;
    font-size: 18px;
    color: #0F1419;
}


@font-face {
    font-family: "LXGWWenKaiLite";
    src: url("./LXGWWenKaiLite-Regular.ttf");
}

@media screen and (max-width: 1200px) {
    .content {
        margin: 0 12vw;
    }

    .navbar {
        padding: 0 12vw;
    }
}

@media screen and (max-width: 992px) {
    .content {
        margin: 0 9vw;
    }

    .navbar {
        padding: 0 9vw;
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin: 0 6vw;
    }

    .link-group {
        flex-direction: column;
        display: none;
    }

    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .link-group a {
        margin-right: 0;
        text-align: center;
        padding: 1rem 0;
    }

    .active {
        display: flex;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

}

@media screen and (max-width: 576px) {
    .content {
        margin: 0 3vw;
    }

    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .title {
        font-size: 20px;
    }

    .tag {
        font-size: 16px;
    }

    .char-counter {
        font-size: 12px;
    }

    h3 {
        font-size: 16px;
    }

    .link-group a {
        font-size: 16px;
    }
}