* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-color: #0558DC; */
    --main-color: #2b84d7;
}

body {
    min-height: 100vh;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed;
    font-family: 'LXGWWenKaiLite', serif;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #ee86b4;
}

hr {
    border: 0;
    border-top: 1px dashed #d1d1d1;
    margin: 20px 0;
}

ul {
    margin: 25px 15vw;
    list-style: none;
}

li {
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5ab;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 0 15vw;
    font-size: 20px;
}

.bar {
    width: 20px;
    height: 2.2px;
    background-color: var(--main-color);
    margin: 5px 0;
    display: block;
}

.link-group {
    display: flex;
}

.link-group a {
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    color: var(--main-color);
}

.link-group a:hover {
    color: #ee86b4;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.acrylic {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e5e5e5;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #F7F7F7CC;
    overflow-y: auto;
    background-image: url('noise.png');
    background-repeat: repeat;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.mica {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e1e6ea;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #f7f9fcdb;
    overflow-y: auto;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.mica-dark {
    color: white;
    background-color: #232734db;
    border-color: #2d2d2d1a;
}

.mica-dark a {
    color: white;
}

.no-shadow {
    box-shadow: none;
}

.no-border {
    border-radius: 0;
}

.char-total-counter {
    text-align: end;
    margin: 0 15vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.char-total-counter span {
    padding: 5px 15px;
    color: #666666;
}

.char-counter {
    text-align: end;
    font-size: 13px;
    margin: 20px 0 40px 0;
}

.tag {
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
    margin: 20px 0 10px;
}

.slogan {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.slogan span {
    text-align: center;
    font-size: 24px;
    padding: 5px 15px;
    color: #666666;
}

.post-line {
    margin: 20px 0;
    padding: 20px;
}

.post-title {
    font-size: 23px;
    letter-spacing: 0.15rem;
}

.post-summary {
    margin: 20px 0 20px 0;
    color: #333333;
    line-height: 150%;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #666666;
}

.category-left {
    background: rgba(109, 214, 244, .9);
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.category-left a {
    color: #fff;
}

.category-right {
    background: rgba(245, 170, 185, .9);
    color: #fff;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}


@font-face {
    font-family: "LXGWWenKaiLite";
    src: url("./LXGWWenKaiLite-Regular.ttf");
}

@media screen and (max-width: 1200px) {
    ul {
        margin: 25px 12vw;
    }

    .char-total-counter {
        margin: 25px 12vw;
    }

    .navbar {
        padding: 0 12vw;
    }
}

@media screen and (max-width: 992px) {
    ul {
        margin: 25px 9vw;
    }

    .char-total-counter {
        margin: 25px 9vw;
    }

    .navbar {
        padding: 0 9vw;
    }
}

@media screen and (max-width: 768px) {
    ul {
        margin: 25px 6vw;
    }

    .char-total-counter {
        margin: 25px 6vw;
    }

    .link-group {
        flex-direction: column;
        display: none;
    }

    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .link-group a {
        margin-right: 0;
        text-align: center;
        padding: 1rem 0;
    }

    .active {
        display: flex;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }
}

@media screen and (max-width: 576px) {
    ul {
        margin: 25px 3vw;
    }

    .char-total-counter {
        margin: 25px 3vw;
    }

    .slogan span {
        font-size: 20px;
    }

    .char-total-counter {
        font-size: 14px;
    }

    .post-title {
        font-size: 20px;
    }

    .post-summary {
        font-size: 16px;
    }

    .post-info {
        font-size: 14px;
    }

    .link-group a {
        font-size: 16px;
    }

}