* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0558DC;
}


html{
    background-image: url(./bg2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed;
}

body{
    font-family: system-ui;
    min-height: 100vh;
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 1px dashed #d1d1d1;
    margin: 20px 0;
}

ul {
    margin: 25px 15vw;
    list-style: none;
}

li {
    font-size: 20px;
}

.nav-area{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index:999;
    display: flex;
    padding: 0 25px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    padding: 0 15vw;
}
.nav-area a{
    height: 50px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
}

.char-total-counter{
    text-align: end;
    margin: 25px 15vw;
}

.char-total-counter span{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: #666666;
}

.char-counter{
    text-align: end;
    font-size: 13px;
    margin: 20px 0 40px 0;
    color: var(--main-color);
}

.tag{
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
    margin: 20px 0 10px;
}

.slogan{
    font-size: 24px;
    margin: 250px auto;
    text-align: center;
}

.slogan span{
    padding: 5px 15px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: var(--main-color);
}

.post-line{
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

.post-title{
    font-size: 23px;
    
}
.post-summary{
    margin: 20px 0 20px 0;
    color: #333333;
    line-height: 150%;
}
.post-info{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #666666;
}

.category-left{
    background: #DDD;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.category-left a{
    color: #666666;
}


@media screen and (max-width: 1200px) {
    ul {
        margin: 25px 12vw;
    }

    .char-total-counter{
        margin: 25px 12vw;
    }

    .nav-area{
        padding: 0 12vw;
    }

    .slogan{
        margin: 200px auto;
    }
}

@media screen and (max-width: 992px) {
    ul {
        margin: 25px 9vw;
    }

    .char-total-counter{
        margin: 25px 9vw;
    }

    .nav-area{
        padding: 0 9vw;
    }
    
    .slogan{
        margin: 150px auto;
    }
}

@media screen and (max-width: 768px) {
    ul {
        margin: 25px 6vw;
    }

    .char-total-counter{
        margin: 25px 6vw;
    }

    .nav-area{
        padding: 0 6vw;
    }

    .slogan{
        margin: 100px auto;
    }
}

@media screen and (max-width: 576px) {
    ul {
        margin: 25px 3vw;
    }

    .nav-area{
        padding: 0 3vw;
        justify-content: space-around;
    }

    .char-total-counter{
        margin: 25px 3vw;
    }

    .nav-area a{
        font-size: 18px;
    }

    .slogan{
        font-size: 20px;
        margin:60px 0 60px 0;
        color: var(--main-color);
    }

    .char-total-counter{
        font-size: 14px;
    }
    .post-title{
        font-size: 20px;
    }

    .post-summary{
        font-size: 16px;
    }

    .post-info{
        font-size: 14px;
    }

}