* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0558DC;
}


html{
    background-image: url(./bg2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed;
}

body{
    /* width: 100%; */
    /* top: 1000px; */
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */
    font-family: system-ui;
    min-height: 100vh;
    /* color: #333333; */
    /* font-family: jinkaiFont; */
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 1px dashed #d1d1d1;
    margin: 20px 0;
}

ul {
    /* margin: 20px 0; */
    list-style: none;
}

li {
    font-size: 20px;
}

.nav-area{
    /* position: fixed; */
    top: 0;
    width: 100vw;
    z-index:999;
    display: flex;
    padding: 0 25px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}
.nav-area a{
    text-decoration: none;
    justify-content: center;
    padding: 20px 15px 20px 0;
    font-size: 20px;
}

.char-total-counter{
    text-align: end;
    /* font-size: 17px; */
    /* color: #666666; */

}

.char-total-counter span{
    margin: 25px 15vw;
    padding: 5px 15px;
    backdrop-filter: blur(25px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: #666666;;
}

.char-counter{
    text-align: end;
    font-size: 13px;
    margin: 20px 0 40px 0;
    color: var(--main-color);
}

.tag{
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
    margin: 20px 0 10px;
}

.slogan{
    font-size: 24px;
    margin: 50px auto;
    text-align: center;
    /* letter-spacing: 1rem; */
    /* color: var(--main-color); */

}

.slogan span{
    padding: 5px 15px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: var(--main-color);
}

.post-line{
    margin: 25px 15vw;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

.post-title{
    font-size: 23px;
    
}
.post-summary{
    margin: 20px 0 20px 0;
    color: #333333;
    line-height: 150%;
}
.post-info{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #666666;
}

.category-left{
    background: #DDD;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.category-left a{
    color: #666666;
}

/* @font-face {
    font-family: jinkaiFont;
    src: url("./jinkai.ttf") format("TrueType");
} */

@media screen and (max-width: 1200px) {
    body {
        /* width: 65%; */
        margin: 0 auto;
        /* padding: 0 20px; */
    }
    .post-line{
        margin: 25px 10vw;
        padding: 15px;
    }
    .char-total-counter span{
        margin: 25px 10vw;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 992px) {
    body {
        /* width: 75%; */
        margin: 0 auto;
        /* padding: 0 20px; */
    }
    .post-line{
        margin: 25px 10vw;
        padding: 15px;

    }
    .char-total-counter span{
        margin: 25px 10vw;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 768px) {
    body {
        /* width: 85%; */
        margin: 0 auto;
        /* padding: 0 20px; */
    }
    .post-line{
        margin: 25px 5vw;
        padding: 15px;
    }
    .char-total-counter span{
        margin: 25px 5vw;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 576px) {
    body {
        /* width: 100%; */
        margin: 0 auto;
        /* padding: 0 20px; */
    }
    
    .nav-area a{
        font-size: 18px;
    }

    .slogan{
        font-size: 20px;
        margin:60px 0 60px 0;
        color: var(--main-color);
    }

    .char-total-counter{
        font-size: 14px;
    }
    .post-title{
        font-size: 20px;
    }

    .post-summary{
        font-size: 16px;
    }

    .post-info{
        font-size: 14px;
    }
    .post-line{
        margin: 25px 5vw;
        padding: 15px;
    }
    .char-total-counter span{
        margin: 25px 5vw;
        padding: 5px 15px;
    }
}