* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-color: #0558DC; */
    --main-color: #2b84d7;
}

body {
    background-color: #f6f6f6;
    font-family: 'LXGWWenKaiLite', serif;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 2px dashed #d1d1d1;
    margin: 20px 0;
}

ul {
    margin: 20px 0;
    list-style: none;
}

li {
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5ab;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 0 15vw;
    font-size: 20px;
}

.bar {
    width: 20px;
    height: 2.2px;
    background-color: var(--main-color);
    margin: 5px 0;
    display: block;
}

.link-group {
    display: flex;
}

.link-group a {
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    color: var(--main-color);
}

.link-group a:hover {
    color: #ee86b4;
}

.hamburger {
    display: none;
    padding: 1rem;
}

.acrylic {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e5e5e5;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #F7F7F7CC;
    overflow-y: auto;
    background-image: url('noise.png');
    background-repeat: repeat;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.mica {
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e1e6ea;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: #f7f9fcdb;
    overflow-y: auto;
    box-shadow: 0px 25.6px 57.6px rgb(0 0 0 / 14%), 0px 0px 16.4px rgb(0 0 0 / 12%);
    transform: translateZ(0);
}

.mica-dark {
    color: white;
    background-color: #232734db;
    border-color: #2d2d2d1a;
}

.mica-dark a {
    color: white;
}

.no-shadow {
    box-shadow: none;
}

.no-border {
    border-radius: 0;
}

.tag-group {
    margin: 20px 0;
    padding: 10px 0;
}

.tag-title {
    font-size: 25px;
    /* margin: 50px 0 20px; */
}

.tag-item {
    margin: 20px 0 20px 20px;
    font-size: 20px;
}

.content {
    margin-top: 80px;
    padding: 0 15vw;
}

@font-face {
    font-family: "LXGWWenKaiLite";
    src: url("./LXGWWenKaiLite-Regular.ttf");
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 0 12vw;
    }

    .navbar {
        padding: 0 12vw;
    }
}

@media screen and (max-width: 992px) {
    .content {
        padding: 0 9vw;
    }

    .navbar {
        padding: 0 9vw;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 6vw;
    }

    .link-group {
        flex-direction: column;
        display: none;
    }

    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .link-group a {
        margin-right: 0;
        text-align: center;
        padding: 1rem 0;
    }

    .active {
        display: flex;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

}

@media screen and (max-width: 576px) {
    .content {
        padding: 0 3vw;
    }

    .nav-area a {
        font-size: 18px;
    }

    .tag-title {
        font-size: 20px;
    }

    .tag-item {
        margin: 20px 0 20px 20px;
        font-size: 18px;
    }

}