* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 55%;
    margin: 0 auto;
    background-color: #fff;
    /* color: #333333; */
    font-family: jinkaiFont;
}



a {
    text-decoration: none;
    color: #5C89A4;
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 2px dashed #d1d1d1;
    margin: 20px 0;
}

ul {
    margin: 20px 0;
    list-style: none;
}

li {
    font-size: 20px;
}

.nav-area{
    display: flex;
}
.nav-area a{
    text-decoration: none;
    justify-content: center;
    padding: 20px 15px 20px 0;
    font-size: 20px;
}

.tag-group{
    margin: 20px 0;
    padding: 10px 40px;
}

.tag-title{
    font-size:25px;
    /* margin: 50px 0 20px; */
}

.tag-item{
    margin: 20px 0 20px 20px;
    font-size: 20px;
}


@font-face {
    font-family: jinkaiFont;
    src: url("./jinkai.ttf") format("TrueType");
}

@media screen and (max-width: 1200px) {
    body {
        width: 65%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    body {
        width: 75%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 85%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 576px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .nav-area a{
        font-size: 18px;
    }

    .tag-title{
        font-size:20px;
    }
    
    .tag-item{
        margin: 20px 0 20px 20px;
        font-size: 18px;
    }

}