*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgba(255, 0, 0, 0.1); */
    /* border: black 1px solid; */
}

@font-face {
    font-family: 仓耳今楷05-W03;
    src: url(/仓耳今楷05-W03.ttf);
}

body{
    background-color: #fff;
    font-family: 仓耳今楷05-W03;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-area{
    width: 55%;
    display: flex;
}


.nav-area a{
    color: #5C89A4;
    text-decoration: none;
    justify-content: center;
    padding: 20px 15px 20px 0;
    /* font-family: 'Sacramento', cursive; */
    font-size: 20px;
}

.nav-area a:hover{
    color: #333333;
}

.archive-area{
    margin: 40px 0 0 0;
    padding: 10px 40px;
    width: 40%;
}


.title{
    margin:40px 0 10px 0;
    font-size: 40px;
    text-align: center;
    color: #5C89A4;
}

.tag-title{
    font-size: 30px;
    margin: 0 0 20px 0;
    color: #5C89A4;
}

ul{
    padding: 10px 0 0 20px;
}

li{
    list-style: none;
    font-size: 25px;
    padding: 0 0 10px 0;
}

a{
    text-decoration: none;
    color: #5C89A4;
}

a:hover{
    color: #333333;
}