* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LXGWWenKaiLite";
    src: url("../fonts/LXGWWenKaiLite-Regular.ttf");
}

body {
    font-family: 'LXGWWenKaiLite';
    /* background: url(../pics/bg.jpg);
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: #f9f9fb;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20vw;
    /* z-index: 1; */
    display: flex;
    border-bottom: 1px solid #DDD;
    /* background-color: #f9f9fb; */
    /* backdrop-filter: saturate(180%) blur(20px); */
    /* background: rgba(255, 255, 255, 0.85); */
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.85);
}

.navMenu {
    display: none;
    line-height: 20px;
    padding: 20px;
    font-size: 18px;
    color: #333;
}

.navLinkGroup {
    display: flex;
}

.navLink {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    padding: 20px;
}

.slogan {
    height: 200px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    flex-direction: column;
}

.content {
    margin: 0 20vw;
    padding: 0 20px;
}

/* .content p{
    text-indent: 2rem;
    line-height: 1.6;
} */

.card {
    padding: 20px;
    border-bottom: 1px solid #DDD;
}

.title {
    font-size: 26px;
    color:#333;
}

.tag {
    margin-top: 0.8rem;
}

.tag a {
    color: #6a79ba;
    font-size: 16px;
}

.countAndDate {
    font-size: 14px;
    color: #666;
    margin: 0 20vw;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

/* .content img {
    max-width: 100%;
}

.content figure {
    text-align: center;
} */

@media (max-width: 1000px) {
    .content {
        margin: 0 5vw;
    }

    .countAndDate {
        margin: 0 5vw;
    }

    .navbar {
        padding: 0 5vw;
    }
}

@media (max-width: 500px) {
    .content {
        margin: 0;
    }

    .navbar {
        padding: 0;
        flex-direction: column;
    }

    .navMenu {
        display: flex;
    }

    .navLinkGroup {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .active {
        display: flex;
    }

    .navLink {
        font-size: 16px;
    }

    .slogan {
        font-size: 16px;
        padding: 0 20px;
        height: 150px;
    }

    .content {
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }

    .tag{
        margin-top: 0.1rem;
    }

    .tag a{
        font-size: 12px;
    }

    .countAndDate {
        font-size: 12px;
        margin: 0;
    }
}