/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    /* --main-color: #0558DC; */
    /* --main-color: #2b84d7; */
    --main-color: #6a79ba;
}

code {
    /* background-color: #f8f8f8; */
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 15px 8px;
    /* border: 1px solid #5c88a442; */
    /* border-radius: 3px; */
    overflow: auto;
    font-size: 0.9rem;
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
    border-color: #e1e6ea;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: rgb(36, 39, 41);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(173, 179, 185);
    border-radius: 3px;
    box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
    white-space: nowrap;
    vertical-align: middle;
    /*kbd的样式真sb的多*/
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #333333;
}

hr {
    border: 0;
    border-top: 1px dashed #d1d1d1;
    margin: 20px 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

th,
td {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


table,
th,
td {
    border: 1px solid #bababa;
}

/* thead {
    background-color: #dfe2e5;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #dfe2e5;
} */

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
    margin: 20px 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

p {
    margin: 23px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

ul {
    margin: 20px 0;
}

ol,
ul {
    padding: 0 0 0 1rem;
}

h1,
h2,
h3 {
    color: #333;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    p {
        font-size: 16px;
    }

    h1,
    h2,
    h3 {
        font-size: 0.95rem;
    }
}