* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9fb;
    font-family: "LXGW WenKai Lite", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20vw;
    display: flex;
    border-bottom: 1px solid #DDD;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.85);
}

.navMenu {
    display: none;
    line-height: 20px;
    padding: 20px;
    font-size: 18px;
    color: #333;
}

.navLinkGroup {
    display: flex;
}

.navLink {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    padding: 20px;
}

.slogan {
    height: 300px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #666;
}

.content {
    margin: 0 20vw;
    padding: 20px;
}

.tag-title{
    font-size: 20px;
    color:#333;
    margin-bottom: 1rem;
}

.tag-link{
    font-size: 18px;
    padding: 0 0 1rem 1rem;
}

.tag-link a{
    color: #6a79ba;
}

.tag-link a:hover{
    color: #333;
}

@media (max-width: 1000px) {
    .content {
        margin: 0 5vw;
    }

    .navbar {
        padding: 0 5vw;
    }
}

@media (max-width: 500px) {
    .content {
        margin: 0;
    }

    .navbar {
        padding: 0;
        flex-direction: column;
    }

    .navMenu {
        display: flex;
    }

    .navLinkGroup {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .active {
        display: flex;
    }

    .navLink {
        font-size: 16px;
    }

    .slogan {
        font-size: 16px;
        padding: 0 20px;
    }

    .tag-title{
        font-size: 18px;
    }

    .tag-link{
        font-size: 14px;
    }
}